.box {
	width: 49%;
	_width: 49%;
	height: 150px;
	resize: none;
	display: inline-block;
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

#output-text {
	background-color: #E8E8E8;
	border: 2px solid;
	border-color: #F0F0F0;
}

#translate-button {
	padding-left: 0.4em;
	padding-right: 0.3em;
	background-color: #D8D8D8;
	border: solid 1px;
	border-color: #C8C8C8;
	color: white;
	border-radius: 3em;
	opacity: 0.50;
	filter:alpha(opacity=050); /* For IE8 and earlier */
}

#translate-button:hover, #translate-button:focus {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}

a {
	text-decoration: none;
}
