/*
	365-pages by Joe Delgado. github.com/djoeman84
*/
html, body {
	height: 100%;
	margin: 0px;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

	body {
		background-image: url('../img/aug_23/fabric_plaid.png');
	}

		div#header-wrapper, div#header-padding, div#header-color {
			height: 3em;
			width: 100%;
			margin: 0px;
		}

		div#header-wrapper {
			position: fixed;
			box-shadow: 0em 0em 0.5em black;

		}
			div#header-color {
				position: fixed;
				background-color: white;
			}

			div#header-wrapper > div#logo-wrapper-shadow,
			div#header-wrapper > div#logo-wrapper {
				position: fixed;
				top: 0em;
				left: 2em;
				height: 4em;
				width: 4em;
				padding: 0.5em;
				border-radius: 50%;
			}

			div#header-wrapper > div#logo-wrapper-shadow {
				box-shadow: 0em 0em 0.5em black;
			}

			div#header-wrapper > div#logo-wrapper {
				background-color: white;
			}

			div#header-wrapper > ul#header-ul {
				position: absolute;
				right: 4em;
				top: 50%;
				margin-top: -0.5em;
			}
				div#header-wrapper > ul#header-ul > li > span#company-name {
					font-weight: lighter;
				}

		div#body-wrapper {
			width: 100%;
			padding-bottom: 1em;
		}

			div#body-wrapper > div#inner-body {
				margin: 1% 2%;
				background-color: white;
				height: 100%;
				width: 96%;
				padding-bottom: 1em;
			}

				div#body-wrapper > div#inner-body > div#jumbo-img-wrap {
					width: 96%;
					margin: auto;
					padding-top: 2%;
					height: 20em;
				}

					div#body-wrapper > div#inner-body > div#jumbo-img-wrap > div#jumbo-img-drop {
						height: 100%;
						line-height: 20em;
						width: 100%;
					}

					div#body-wrapper > div#inner-body > div#jumbo-img-wrap > img#jumbo-img {
						height: inherit;
						width: inherit;
					}

				div#body-wrapper > div#inner-body > div#body-content {
					display: inline-block;
					padding-left: 3em;
					padding-right: 3em;
				}

					div#body-wrapper > div#inner-body > div#body-content > div#left-img-body {
						display: inline-block;
					}

					div#body-wrapper > div#inner-body > div#body-content > div#content-text {
						display: inline-block;
						vertical-align: top;
						padding-left: 1em;
					}



.small {
	height: 4em;
	width: 4em;
}
	.small > .drop-plus {
		line-height: 2em;
	}

.large {
	height: 15em;
	width: 15em;
}
	.large > .drop-plus {
		line-height: 7.5em;
	}

.round {
	border-radius: 50%;
}

	img.round {
		box-shadow: 0px 1px 1px;
	}

.hide {
	display: none;
}

.drop-img-anchor {
	border: 1px dashed lightgray;
	text-align: center;
	margin: -1px;
}

	.drop-img-anchor > .drop-plus {
		vertical-align: middle;
		font-size: 30px;
		color: lightgray;
	}

 .drop-img-anchor:hover,
 .drop-img-anchor:focus {
 	border: 1px dashed green;
 	text-align: center;
 	background-color: #F0FFF0;
 }

 	.drop-img-anchor:hover > .drop-plus,
 	.drop-img-anchor:focus > .drop-plus {
 		color: green;
 	}

.center {
	text-align: center;
}

.left {
	float: left;
}

h1 {
	font-weight: normal;
	font-size: 50px;
	margin-bottom: 0em;
}

h2 {
	opacity: 0.60;
	filter:alpha(opacity=060); /* For IE8 and earlier */
	color: green;
	margin-left: -1em;
}

h3 {
	font-weight: lighter;
	font-size: 20px;
	opacity: 0.50;
	filter:alpha(opacity=050); /* For IE8 and earlier */
	margin: 0;
	margin-bottom: 3em;
}
	

ul {
	margin: 0;
	list-style-type: none;
}

