textarea {
	margin: auto;
	display: block;
}

#submit-button {
	margin: auto;
	display: block;
	background-color: blue;
	height: 20px;
	width: 100px;
	color: white;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	opacity: 0.50;
	filter:alpha(opacity=050); /* For IE8 and earlier */
}

#submit-button:hover, #submit-button:focus {
	opacity: 1.00;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

p {
	display: block;
	text-indent: 3em;
}

label, input {
	display: inline-block;
	margin: auto;
}

body {
	margin-left: 60px;
	margin-right: 60px;
}

#output {
	margin-left: 10px;
	margin-right: 10px;
}