html {
	height: 100%;
}

li {
	list-style-type: none;
}

body {
	margin: 0px;
	height: 100%;
}
	ul.banner {
		list-style-type: none;
		float: right;
		margin:0px;
		border: black solid 1px;
		background-color: gray;
		width: 100%;
		height: 2em;
		padding: 0px;
	}

		li.banner {
			color: white;
			float: right;
			display: inline-block;
			margin-top: 0.5em;
			padding-right: 10px;
		}

		li.banner:first-child {
			margin-right: 5em;
		}

			a {
				color: white;
				text-decoration: none;
			}

			a:hover, a:focus {
				color: LightBlue;
			}

		#find-friends-div {
			display: none;
			padding: 0.3em 0.4em;
		}

			#find-friends {
				color: LightBlue;
				border: LightBlue solid 1px;
				border-radius: 0.2em;
				padding: 0.1em 0.4em;
				text-align: center;
			}
			#find-friends:hover, #find-friends:focus {
				border-color: LightGray;
				color: white;
				background-color: LightBlue;
			}

	#google-maps-canvas {
		width: 100%;
		height: 100%;
	}

	#fb-root {
		display: none;
	}

	#left-hud {
		position: fixed;
		bottom: 10px;
		right: 10px;
		width: 200px;
		display: block;
		background-color: gray;
		border-radius: 5px;
		z-index: 100000;
	}

		#left-hud-title {
			text-align: center;
			color: LightBlue;
			font-size: 25px;
		}

		#left-hud-ul {
			padding: 5px;
		}

			#left-hud-li {
				font-size: 15px;
			}