li {
	display: inline-block;
}

body {
	margin-left: 60px;
	margin-right: 60px;
}


ul#canvases-ul {
	list-style-type: none;
	display: block;
	width: 100%;
}

.canvas-li {
	display: inline-block;
	background-color: #ECECF0;
	border: solid 2px;
	border-color: #E0E0E2;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.canvas-li.half-wide {
	width: 47.5%;
}

.canvas-li.quarter-wide {
	width: 13%;
}