li {
	list-style-type: none;
	display: inline-block;
}

li:hover {
	opacity: 0.60;
	filter:alpha(opacity=060); /* For IE8 and earlier */
}

ul {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}