body {
	margin: 0px;
}

.ball {
	position: absolute;
	display: block;
	background-color: LightBlue;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: inset -25px -25px 35px rgba(0,0,0,.5);
}