/*
	365-pages by Joe Delgado. github.com/djoeman84
*/
html, body {
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

	form#username-form {
		position: fixed;
		padding: 20px;
		margin: 0;
	}

		input#username {
			margin: 0;
			padding-left: 5px;
			font-size: 25px;
		}

	div#phone {
		margin: auto;
		width: 280px;
		height: 450px;
		margin-top: 1%;
		padding: 60px 10px 80px 10px;
		background-color: black;
		border: 2px solid gray;
		border-radius: 35px;
	}

		div#messages-panel-wrapper {
			box-shadow: 0px 1px 6px inset;
			z-index: 100000;
			background-color: #F8F8F8;
			height: 100%;
		}

			div#messages-wrapper {
				padding: 1.2% 3% 0% 3%;
				height: 90%;
			}

				ul#messages-ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
					display: block;
					overflow-y:scroll;
					height: 100%;
				}

				ul#messages-ul::-webkit-scrollbar {
					display: none;
				}

					#messages-ul > li {
						position: relative;
						min-height: 45px;
					}

					#messages-ul > li.theirs {
						margin-right: 40%;
					}

					#messages-ul > li.mine {
						margin-left: 40%;
					}

						div.meta {
							font-size: 10px;
							color: #D0D0D0;
						}

						div.meta.mine {
							text-align: right;
							margin-right: 10px;
						}

						div.meta.theirs {
							text-align: left;
							margin-left: 3px;
						}

						p.message {
							border-radius: 20px;
							padding: 4px 12px;
							margin: 3px 2px;
							box-shadow: 0px 1px 10px rgba(0,0,0,.2);
							font-size: 15px;
						}

						p.message.mine {
							/*float: right;*/
							background-color: lightblue;
						}

						p.message.theirs{
							/*float: left;*/
							background-color: LightGreen;
						}

		div#messages-panel-wrapper > form {
			border-top: 2px rgba(0, 0, 0, 0.1) solid;
			padding: 2%;
			height: 10%;
			z-index: -1;
		}		

			div#messages-panel-wrapper > form > input[type="text"] {
				border-radius: 4px;
				width: 75%;
				border: 2px #E0E0E0  solid;
				margin-left: 3%;
				height: 18px;
			}

			div#messages-panel-wrapper > form > input[type="submit"] {
				float: right;
				background-color: lightblue;
				border: 2px #E0E0E0  solid;
				border-radius: 3px;
				height: 23px;
			}



