/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e214ee0535eae9b3319d91645b907eb7:2/6$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite1 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(1bambi.png);}

.bambi_36 {width:568px; height:320px; background-position: -2px -2px}
.bambi_35 {width:568px; height:320px; background-position: -572px -2px}
.bambi_34 {width:568px; height:320px; background-position: -1142px -2px}
.bambi_33 {width:568px; height:320px; background-position: -2px -324px}
.bambi_32 {width:568px; height:320px; background-position: -572px -324px}
.bambi_31 {width:568px; height:320px; background-position: -1142px -324px}
.bambi_30 {width:568px; height:320px; background-position: -2px -646px}
.bambi_29 {width:568px; height:320px; background-position: -2px -968px}
.bambi_28 {width:568px; height:320px; background-position: -2px -1290px}
.bambi_27 {width:568px; height:320px; background-position: -2px -1612px}
.bambi_26 {width:568px; height:320px; background-position: -572px -646px}
.bambi_25 {width:568px; height:320px; background-position: -1142px -646px}
.bambi_24 {width:568px; height:320px; background-position: -572px -968px}
.bambi_23 {width:568px; height:320px; background-position: -1142px -968px}
.bambi_22 {width:568px; height:320px; background-position: -572px -1290px}
.bambi_21 {width:568px; height:320px; background-position: -572px -1612px}
.bambi_20 {width:568px; height:320px; background-position: -1142px -1290px}
.bambi_19 {width:568px; height:320px; background-position: -1142px -1612px}
