/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e214ee0535eae9b3319d91645b907eb7:4/6$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite3 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(3bambi.png);}

.bambi_72 {width:568px; height:320px; background-position: -2px -2px}
.bambi_71 {width:568px; height:320px; background-position: -572px -2px}
.bambi_70 {width:568px; height:320px; background-position: -1142px -2px}
.bambi_69 {width:568px; height:320px; background-position: -2px -324px}
.bambi_68 {width:568px; height:320px; background-position: -572px -324px}
.bambi_67 {width:568px; height:320px; background-position: -1142px -324px}
.bambi_66 {width:568px; height:320px; background-position: -2px -646px}
.bambi_65 {width:568px; height:320px; background-position: -2px -968px}
.bambi_64 {width:568px; height:320px; background-position: -2px -1290px}
.bambi_63 {width:568px; height:320px; background-position: -2px -1612px}
.bambi_62 {width:568px; height:320px; background-position: -572px -646px}
.bambi_61 {width:568px; height:320px; background-position: -1142px -646px}
.bambi_60 {width:568px; height:320px; background-position: -572px -968px}
.bambi_59 {width:568px; height:320px; background-position: -1142px -968px}
.bambi_58 {width:568px; height:320px; background-position: -572px -1290px}
.bambi_57 {width:568px; height:320px; background-position: -572px -1612px}
.bambi_56 {width:568px; height:320px; background-position: -1142px -1290px}
.bambi_55 {width:568px; height:320px; background-position: -1142px -1612px}
