<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>Carousel API</title>
	<style type="text/css">
		body,html {
			height: 100%;margin: 0;
		}
		div#carousel {
			height:20em;width:50%;position:absolute;left: 25%;
		}
	</style>
</head>
<body onload="init_js()">
	<div id="carousel"></div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="./js/util.js" type="text/javascript"></script>
	<script src="./js/aug_30/aug_30.js" type="text/javascript"></script>
	<script src="./js/aug_30/carousel.js" type="text/javascript"></script>
	
</body>
</html>