<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>Page Template</title>
	<link rel="stylesheet" type="text/css" href="./css/aug_24.css">
</head>
<body onload="init_js()">
	<div id="header-wrapper">
		<div id="header-color"></div>
		<div id="logo-wrapper-shadow"></div>
		<div id="logo-wrapper">
			<div id="logo-img-drop" class="small round" title="drop logo image here"><div>+</div></div>
			<!--<input type="url" id="logo-url"onkeyup="url_typed()" placeholder="logo url">-->
			<img class="small round hide" id="header-logo">
		</div>
		<ul id="header-ul">

		</ul>
	</div>
	<div id="header-padding"></div>
	<div id="body-wrapper">
		<div id="inner-body"></div>
	</div>
</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="./js/aug_24.js" type="text/javascript"></script>
<script src="./js/util.js" type="text/javascript"></script>
</html>