<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="./css/aug_28.css">
</head>
<body onload="init_js()" onresize="resize()">
	<div id="display">
		<ul id="display-ul"></ul>
	</div>
	<div id="outer-calc-body">
		<div id="controls">
			<ul id="keys-ul"></ul>
		</div>
	</div>
	<script src="./js/aug_28/aug_28.js" type="text/javascript"></script>
	<script src="./js/aug_28/eq.js" type="text/javascript"></script>
</body>
</html>