<!DOCTYPE html>
<html>
<head>
	<title>Translation Machine</title>
	<link rel="stylesheet" type="text/css" href="/css/aug_6.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<!--<script src="/js/jquery.js" type="text/javascript"></script>-->
	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
	<script src="/js/aug_6.js" type="text/javascript"></script>
</head>
<body>
	<canvas onclick="mouse_clicked(event)"id="main-canvas"></canvas>
</body>
<script type="text/javascript">init_canvas();</script>
</html>