<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="./css/aug_27.css">
</head>
<body onload="init_js()">
	<div class="top">
		<div id="carousel">
			<ul id="carousel-tiles-ul">
			</ul>
		</div>
	</div>
	<div class="bottom"></div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="./js/util.js" type="text/javascript"></script>
	<script src="./js/aug_27.js" type="text/javascript"></script>
</body>
</html>