<!DOCTYPE html>
<html>
<head>
	<title>Translation Machine</title>
	<link rel="stylesheet" type="text/css" href="/css/aug_6.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<!--<script src="/js/jquery.js" type="text/javascript"></script>-->
	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
	<script src="/js/aug_6.js" type="text/javascript"></script>
</head>
<body>
	<canvas onclick="mouse_clicked(event)"id="main-canvas"></canvas>
	<div id="control-panel">Control
		<ul>
			<li>balls remain<input type="checkbox" id="balls-remain" onclick="check_clicked()"></li>
			<li>gravity off<input type="checkbox" id="gravity-check" onclick="check_clicked()"></li>
			<li>friction off<input type="checkbox" id="friction-check" onclick="check_clicked()"></li>
			<li>up: <span id="up-metric">0</span></li>
			<li>lr: <span id="lr-metric">0</span></li>
			<li>(use arrow keys)</li>
		</ul>
		
	</div>
</body>
<script type="text/javascript">init_canvas();</script>
</html>