<!DOCTYPE html>
<html>
<head>
	<title>Facebook API</title>
	<link rel="stylesheet" type="text/css" href="/css/aug_20.css">
</head>
	<body id="body">
		<ul>
			<li><span id="welcome"></span></li>
			<li><a href="javascript:login()" id="login"></a></li>
			<li><a href="javascript:logout()" id="logout"></a></li>
			<li id="find-friends-li"><a href="javascript:run_query()" id="find-friends">Find Friends!</a></li>
		</ul>
		<div id="google-maps-canvas"></div>
		<div id="fb-root"></div>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="/js/aug_20.js" type="text/javascript"></script>
		<script src="/js/facebook.js" type="text/javascript"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRD9Wnf-VoyOMmglyB8sTY-5F6uF2ofPs&sensor=false&libraries=visualization"></script>
	</body>
</html>