<!DOCTYPE html>
<html>
<head>
	<title>Text Analytics</title>
	<link rel="stylesheet" type="text/css" href="/css/aug_10/aug_10.css">
	<link rel="stylesheet" type="text/css" href="/css/aug_10/bambi/0bambi.css">
	<link rel="stylesheet" type="text/css" href="/css/aug_10/bambi/1bambi.css">
	<link rel="stylesheet" type="text/css" href="/css/aug_10/bambi/2bambi.css">
	<link rel="stylesheet" type="text/css" href="/css/aug_10/bambi/3bambi.css">
	<link rel="stylesheet" type="text/css" href="/css/aug_10/bambi/4bambi.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="/js/aug_10.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div id="bambi-div"></div>
		<p>Built using <a href="http://en.wikipedia.org/wiki/Sprite_(computer_graphics)">sprite sheets</a></p>
	</div>
</body>
</html>