<!DOCTYPE html>
<html>
<head>
	<title>365 Pages</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">var data = { {{ data|safe }} }; var month_anchors =[ {{ month_anchors|safe }} ];</script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<!--<script type="text/javascript" src="js/jquery.js"></script>-->
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="left-jumbo">
		<div class="jumbo-top">
			<div class="jumbo-title">365 Pages</div>
			<div class="jumbo-tag">One Page a day for a year</div>
			<ul class="social-links">
				<li class="social-link-li">
					<a href="https://www.facebook.com/joe.delgado3" class="social-link-href social-sprite facebook">
						
					</a>
				</li>
				<li class="social-link-li">
					<a href="https://github.com/djoeman84" class="social-link-href social-sprite github">
						
					</a>
				</li>
				<li class="social-link-li">
					<a href="http://www.linkedin.com/pub/joseph-delgado/32/bb9/8bb" class="social-link-href social-sprite linkedin">
						
					</a>
				</li>
				<li class="social-link-li">
					<a href="http://www.quora.com/Joseph-Delgado" class="social-link-href social-sprite quora">
						
					</a>
				</li>
				<li class="social-link-li">
					<a href="https://twitter.com/soy_chupacabra" class="social-link-href social-sprite twitter">
						
					</a>
				</li>
			</ul>
		</div>
		<div class="jumbo-middle dropdown hidden">
			<div class="dropdown-container" >
				<ul class="dropdown-ul" id="dropdown-ul">
				</ul>
			</div>
		</div>
		<div class="jumbo-bottom">
			<a class="dropdown-button" id="dropdown-button" href="javascript:dropdown_menu()">
				<span class="down" id="dropdown-button-text">‹</span>
			</a>
		</div>
	</div>
	<div id="wrapper">
		<div class="center-container">
			<div class="days">
				{% for day in days %}
				<a href="{{ day.href }}" class="day-block" id="{{ day.id }}">
					<div class="date">{{ day.date }}</div>
					<div class="day">{{ day.day }}</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<a id="info-panel" href="#">
		<div id="info-title">365 Pages</div>
		<div id="info-desc">Hover over dates to see info</div>
	</a>
	
</body>
<script type="text/javascript">load_dropdown_elems();</script>
</html>