<!DOCTYPE html>
<html>
<head>
	<title>365 Pages</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">var data = { {{ data|safe }} }</script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<!--<script type="text/javascript" src="js/jquery.js"></script>-->
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="left-jumbo">
		<div class="jumbo-title">365 Pages</div>
		<div class="jumbo-tag">One Page a day for a year</div>
		<ul class="social-links">
			<li class="link"><a href="https://www.facebook.com/joe.delgado3"><img src="/img/webicon-facebook-s.png"></a></li>
			<li class="link"><a href="https://github.com/djoeman84"><img src="/img/webicon-github-s.png"></a></li>
			<li class="link"><a href="http://www.linkedin.com/pub/joseph-delgado/32/bb9/8bb"><img src="/img/webicon-linkedin-s.png"></a></li>
			<li class="link"><a href="http://www.quora.com/Joseph-Delgado"><img src="/img/webicon-quora-s.png"></a></li>
			<li class="link"><a href="https://twitter.com/soy_chupacabra"><img src="/img/webicon-twitter-s.png"></a></li>
		</ul>
		
	</div>
	<div id="wrapper">
		<div class="padding_wrap">
			<div class="center-container">
				<div class="days">
					{% for day in days %}
					<div class="day-block" id="{{ day.href }}">
						<div class="date">{{ day.date }}</div>
						<div class="day">{{ day.day }}</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div id="info-panel">
		<div id="info-title">365 Pages</div>
		<div id="info-desc">Hover over dates to see info</div>
	</div>
	
</body>
</html>