<!DOCTYPE html>
<html>
<head>
	<title>365 Pages - Post</title>
</head>
<body>
	<div>{{ error }}</div>
	<form method="post">
		<div>title: <input type="text" name="title"></div>
		<div>href: <input type="text" name="href"></div>
		<div>description: <input type="text" name="desc"></div>
		<div>Timezone: <select name="tzone">
			<option value="-10">Honolulu (-10UTC)</option>
			<option value="-9.5">French Polynesia (-9.5UTC)</option>
			<option value="-9">Anchorage (-9UTC)</option>
			<option value="-8" selected="selected">Los Angeles (-8UTC)</option>
			<option value="-7">Pheonix (-7UTC)</option>
			<option value="-6">Chicago (-6UTC)</option>
			<option value="-5">New York (-5UTC)</option>
			<option value="-4.5">Caracas (-4.5UTC)</option>
			<option value="-4">Santiago (-4UTC)</option>
			<option value="-3.5">St John's (-3.5UTC)</option>
			<option value="-3">Buenos Aires (-3UTC)</option>
			<option value="-2">South Sandwich Islands (-2UTC)</option>
			<option value="-1">Cape Verde (-1UTC)</option>
			<option value="+0">Accra (0UTC)</option>
			<option value="+1">Amsterdam</option>
		</select></div>
		<div>username: <input type="text" name="usr"></div>
		<div>password: <input type="password" name="pass"></div>
		<input type="submit">
	</form>
</body>
</html>