<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>Draw Conmigo</title>
	<link rel="stylesheet" type="text/css" href="./css/sep_5.css">
</head>
<body onload="init_js()" onresize="resize()">
	<a id="clear-button" href="javascript:void(0);" onclick="clear_canvas()">clear</a>
	<canvas id="main-canvas" onmousedown="canvas_mousedown(event)" onmousemove="canvas_mousemove(event)" onmouseup="canvas_mouseup(event)">HTML5 Canvas element not supported by your browser</canvas>
	<script src="/_ah/channel/jsapi" type="text/javascript"></script>
	<script src="./js/channel.js" type="text/javascript"></script>
	<script src="./js/sep_5.js" type="text/javascript"></script>
</body>
</html>