<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>HayMessageHolmes</title>
	<link rel="stylesheet" type="text/css" href="./css/sep_4.css">
</head>
<body>
	<div id="phone">
		<div id="messages-panel-wrapper">
			<div id="messages-wrapper">
				<ul id="messages-ul">
					<li class="name theirs">bob</li>
					<li class="message theirs">Hi! How are you? I was just in the hood with snookie dawg.</li>
					<li class="name mine">you</li>
					<li class="message mine">Great! Who you finna try?</li>
					<li class="name theirs">bob</li>
					<li class="message theirs">yolo dawg. G sauce n shit!:) lol</li>
					<li class="message theirs">lol</li>
					<li class="message mine">lol</li>
					<li class="message theirs">lol</li>
					<li class="message mine">lol</li>
				</ul>
			</div>
			<form>
				<input type="text" placeholder="Message">
				<input type="submit" value="Send">
			</form>
		</div>
	</div>
</body>
</html>