<!-- 365-pages by Joe Delgado. github.com/djoeman84 -->
<!DOCTYPE html>
<html>
<head>
	<title>ZipCodes</title>
	<link rel="stylesheet" type="text/css" href="./css/sep_6.css">
</head>
<body onload="init_js()">
	<form onsubmit="return false" id="zip-form">
		<input id="zip-input" style="text" placeholder="type a zipcode" onkeyup="zip_entered(event)" onkeydown="return zip_key_down(event)">
	</form>
	<div id="canvas-wrapper"></div>
	<script src="./js/util.js" type="text/javascript"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="./js/sep_6.js" type="text/javascript"></script>
</body>
</html>